Library
v14
Temp
v15
*.stackdump
*.suo
*.user
*.sln

/Server/.vs/*
/Server/Server/bin
/Server/Server/obj
/Server/Debug
/Server/x64/Debug
/Server/Server/Common

/Client/obj
/Client/Assets/Scripts/Common
/Client/Assets/Scripts/Common.meta

/Common/*.meta
/Common/Swift/*.meta
/Common/Swift/Common/*.meta
/Common/Swift/Components/*.meta
/Common/Swift/Core/*.meta
/Common/Swift/Net/*.meta
/Common/Swift/Utils/*.meta
/Common/Swift/StateMachine/*.meta
/Common/Swift/Math/*.meta
/Common/Swift/AStar/*.meta
/Common/Swift/DataStructures/*.meta
/Common/Battle/*.meta
/Common/Battle/AI/*.meta
/Common/Battle/Map/*.meta
/Common/Battle/Warriors/*.meta
/Common/Battle/Warriors/Heros/*.meta
/Common/Battle/Warriors/Npcs/*.meta
/Common/Battle/Warriors/Items/*.meta
/Common/Battle/Replay/*.meta
/Common/Battle/Skill/*.meta
/Common/Battle/Skill/Buff/*.meta
/Common/Battle/Skill/Buff/PassiveSkill/*.meta
/Common/Battle/Skill/ActiveSkills/*.meta
/Common/Battle/Skill/Buff/BattleCard/*.meta
/Common/Battle/Skill/Buff/GroundEffect/*.meta
/Common/Battle/Skill/Buff/PatternSkill/*.meta
/Common/UserPlayer/*.meta
/Common/Config/*.meta
