Library
v14
Temp
v15
*.stackdump
*.suo
*.user
*.sln

/Server/.vs/*
/Server/Server/bin
/Server/Server/obj
/Server/Debug
/Server/x64/Debug
/Server/Server/Common

/Client/obj
/Client/Assets/Scripts/Common
/Client/Assets/Scripts/Common.meta

/Common/*.meta
/Common/Swift/*.meta
/Common/Swift/Common/*.meta
/Common/Swift/Components/*.meta
/Common/Swift/Core/*.meta
/Common/Swift/Net/*.meta
/Common/Swift/Utils/*.meta
/Common/Swift/StateMachine/*.meta
/Common/Swift/Math/*.meta
/Common/Swift/AStar/*.meta
/Common/Swift/DataStructures/*.meta
/Common/Battle/*.meta
/Common/Battle/AI/*.meta
/Common/Battle/Map/*.meta
/Common/Battle/Replay/*.meta
/Common/Battle/Buff/*.meta
/Common/Battle/Buff/PassiveSkills/*.meta
/Common/UserPlayer/*.meta
